.page-register {
  background-image: url("https://images.unsplash.com/photo-1505682750263-f3f9e519c565?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 100vh;
  padding: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.form-register {
  padding-left: 63px;
  padding-right: 56px;
}

.form-label-register {
  padding-right: 380px;
}
.form-label-register-email {
  padding-right: 413px;
}
.form-label-register-phone {
  width: 500px;
  padding-right: 380px;
}
.regis-title {
  font-style: Bold;
  font-size: 30px;
  color: yellow;
}

.regis-description {
  font-style: Regular;
  font-size: 18px;
  color: #8692a6;
}

.link-login {
  text-decoration: none;
  color: yellow;
}
.text-bottom {
  color: black;
  font-style: Medium;
  font-size: 14px;
  margin-top: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
