.content-yellow {
  background-color: #efc81a;
}
.opening-image {
  opacity: 0.3;
  transform: rotate(-180deg);
  width: 640px;
  height: 700px;
}
.content-center {
  display: flex;
  justify-content: center;
}

.login-title {
  font-style: Bold;
  font-size: 30px;
  color: yellow;
  display: flex;
  padding-top: 150px;
}

.login-description {
  font-style: Regular;
  font-size: 18px;
  color: #8692a6;
  padding-bottom: 20px;
}

.form-email {
  border: Solid #efc81a 1px;
  width: 426px;
  height: 64px;
}

.form-pswd {
  border: Solid #8692a6 1px;
  width: 426px;
  height: 64px;
}
.form-label {
  font-style: Medium;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  color: #696f79;
  margin-left: 100px;
}

.btn-login {
  width: 426px;
  height: 64px;
  color: #e5e5e5;
  margin-top: 20px;
}

.content-check {
  margin-left: 100px;
}

.link-forgot {
  display: flex;
  justify-content: right;
  margin-top: 15px;
  margin-right: 60px;
}

.link {
  color: #999999;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  text-decoration: none;
}

.text-bottom {
  color: #999999;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  margin-left: 220px;
  margin-top: 10px;
}

.link-signup {
  color: #efc81a;
  text-decoration: none;
}
