.regis-title {
  font-style: Bold;
  font-size: 30px;
  color: yellow;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.regis-description {
  font-style: Regular;
  font-size: 18px;
  color: #8692a6;
  display: flex;
  justify-content: center;
}

.form-name {
  border: Solid #efc81a 1px;
  width: 426px;
  height: 64px;
}

.form-regis {
  border: Solid #8692a6 1px;
  width: 426px;
  height: 64px;
}

.link-login {
  color: #efc81a;
  text-decoration: none;
}
.btn-regis {
  width: 426px;
  height: 64px;
  color: #e5e5e5;
  margin-top: 10px;
}
