
.overflow {
  overflow-x: hidden;
}
.left-side{
  height: 100vh;
  background-image: url('./assets/bg-left.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position:fixed;
  width: 50%;
}

.logo img {
  margin-top: 35vh;
}

.logo h2{
  color: white;
}

.title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #EFC81A;
}

.description{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #8692A6;
}

.right-side{
  height: 100vh;
  position: relative;
}

.form-label {
  font-size: 14px;
  color: #696f79;
}

.form-control {
  height: 45px;
}

.form-control:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11) !important;
  border-color: #efc81a !important;
}

.btn-submit {
  color: white;
  height: 45px;
}

.link-auth {
  text-decoration: none;
  color: yellow;
}


.form-select:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11) !important;
  border-color: #efc81a !important;
}